#main-section{
    background-color: goldenrod;
    border-radius: 10px;
}

.food{
    margin-top: 40px;
    background-color: rgb(241, 225, 225);
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;

}
.food img {
    width: 200px;
    height: 180px;
}
#dishes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 20px;
    margin-left: 55px;
}
#dishIngredients{
    text-align: center;
}

#dishIngredients img{
    height: 200px;
    width: 200px;
}
#not-found{
    text-align: center;
}